main {
  height: 100%;
  width: 100%;
  background: #eaedf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  margin-top: 20px;
  padding: 5px;
  overflow-y: scroll;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

th {
  width: 200px;
}

td {
  padding: 5px;
}

.form {
  margin-top: 40px;
  background: white;
  padding: 20px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 14px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.inputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelText {
  font-size: 20px;
}

.textInput {
  width: 400px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  border: 1px gray solid;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.buttons {
  margin-top: 20px;
}

.submitBtn {
  background-color: steelblue;
}

.clearBtn {
  margin-left: 10px;
  background-color: tomato;
}

.copyBtn {
  width: 300px;
  margin-top: 20px;
  background-color: slategray;
}

.pastBtn {
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: slategray;
}

.pastIcon {
  width: 20px;
  height: 20px;
}

.values {
  display: flex;
  margin-top: 20px;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

.rightValue {
  margin-left: 10px;
}
